<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CourseData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB69FFCA1C4450B3001058AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB69FFE11C4450B3001058AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB69FFEC1C4450B3001058AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
